/*
	site Top nav + form banner
	v1.2
	1/26/16
*/
li.dynamic {
	line-height: 1.7em;
	font-size: 1em;
	border-bottom: solid 1px #9EC5FF;
}

li.dynamic:last-child {
	border-bottom: none;
}

li .dynamic :hover{background-color:#EBEBEB}

#promotedlinksbody_WPQ4 {
    margin: 0px auto;
    width: 1120px;
}
#promotedlinksbody_WPQ8{
	margin: 0 auto;
	width: 800px;
}

/*styles for sites templates*/

.ms-webpartPage-root {
	border-spacing: 5px;
}

.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a {
     font-size: 24pt;
     color:  #0072c6;
     font-weight: Bold;
}


div#centerRowLeft, div#centerRowRight {
	padding-top: 10px;
}

/*styles for staff directory*/
#staffDirectory table{width:100%;height:100%}
#staffDirectory td{padding:4px}

#staffDirectory thead {
	background: none repeat scroll 0% 0% aliceblue;
}

#staffDirectory table tr:nth-child(even) {
	background: #F5F5F5;
}

/****************styles for new staff directory****************/
#staffDirContainer {
  margin: 0;
  padding: 0;
  min-width:400px;
}
#staffDirContainer table {
  border-collapse:collapse;
	border-spacing:0;
	width:100%;
	margin:0;
	border:1px solid #0072c6;
  table-layout: fixed;
}
#staffDirContainer h1 {
	  margin: 0;
	  font-size: 1.3em;
    background: #0072c6;
    color: #CCFFCC;
	  font-weight: bold;
    letter-spacing: 3px;
}
#staffDirContainer thead { border-bottom: none; }
#staffDirContainer th, #staffDirContainer tbody td { background: #fff; }
#staffDirContainer thead th { 
	background: #0072c6; 
	color: #CCFFCC; 
	font-size: 1em;
  text-align:center;
}
#staffDirContainer tbody td {
	text-align:center;
	font-size: 1.1em;
	padding:6px;
}

#staffDirContainer tbody tr.even td { background: #F2F6FC; }

#staffDirContainer td.header {
  padding: 2px 0 2px 0;
	font-size: 1.3em;
	color: #0072c6;
  text-align: left;
  font-weight: 600;
  background: #b3e6ff;
  letter-spacing: 1px;
}
#staffDirContainer td.subHeader {
	font-weight: 800;
  padding: 5px 0 5px 0;
	font-size: 1.2em;
  text-align: left;
  border-bottom: 1px solid #0099CC;
}
td.header span {
  margin-left:10px; 
}
td.subHeader span {
  margin-left:25px; 
}

/*styles for form banner*/

#formTitleBanner {
	text-align:center;
	width:568px
}

#formTitleBanner h1 {
	color: #0072c6;
	font-size:2.3em;
	line-height:1.4em;
}
#formUserInfoLeft{
	list-style-type:none;
	float:left;
	padding-left:0;
	text-align:left
}
#formUserInfoRight{
	list-style-type:none;
	float: right;
	text-align:right
}
#formInfoListContainer{
	width:450px;
	margin:0 auto;
}
#formUserInfoName{
	text-align:center;
	color:black;
}
#formInfoBanner{
	text-align:center;
	background:aliceblue;
	border-radius:15px;
	border:1px #ababab solid;
	height:115px;
	width:568px
}
#formInfoBanner ul{
	margin:2px 0 5px
}
#formDisclaimer{
	color: red;
	text-align:right
}


